<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col
          align-self-center
          size-md="6"
          offset-md="3"
          size-lg="6"
          offset-lg="3"
          size-xs="12"
        >
          <div class="ion-text-center">
            <h1>LOGIN</h1>
          </div>
          <div>
            <ion-item class="ion-margin-bottom">
              <ion-label position="floating">Email</ion-label>
              <ion-input
                name="email"
                type="email"
                ngModel
                required
                [pattern]="validateEmail"
              ></ion-input>
            </ion-item>
            <ion-item class="ion-margin-bottom">
              <ion-label position="floating">Password</ion-label>
              <ion-input
                name="password"
                type="password"
                ngModel
                required
              ></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-button
              size="large"
              type="submit"
              color="secondary"
              [disabled]="form.invalid || form.untouched"
              expand="block"
              >Login</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="center-flex">
        <div class="ion-text-center">
          If you don't have an account, please
          <a routerLink="/register"> register</a> first!
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
