<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{
      action == 'Add' ? 'Add Version' : 'Update Version'
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="myForm" (submit)="saveForm()">
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-grid>
          <ion-row justify-content-center align-items-center>
            <ion-col
              align-self-center
              size-md="6"
              offset-md="3"
              size-lg="6"
              offset-lg="3"
              size-xs="12"
            >
              <div padding>
                <ion-item>
                  <ion-label position="floating">Major</ion-label>
                  <ion-input type="number" formControlName="major"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Minor</ion-label>
                  <ion-input type="number" formControlName="minor"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Patch</ion-label>
                  <ion-input type="number" formControlName="patch"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Pre Release</ion-label>
                  <ion-select
                    formControlName="pre_release"
                    interface="action-sheet"
                  >
                    <ion-select-option
                      *ngFor="let i of releaseTypes"
                      [value]="i.value"
                      >{{ i.value }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </div>
              <div padding>
                <ion-button
                  size="large"
                  type="submit"
                  color="tertiary"
                  [disabled]="myForm.invalid || myForm.untouched"
                  expand="block"
                  >{{ action === 'Add' ? 'Save' : 'Update' }}</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
