img {
  width: 100%;
  height: 200px !important;
  max-height: 200px !important;
  overflow: hidden;
}
ion-card {
  &.details {
    margin: 0;
    ion-card-subtitle {
      padding: 0 16px;
    }
  }
}