<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-item button [routerLink]="'tech'">
          <ion-label>
            Technologies
          </ion-label>
        </ion-item>
        <ion-item button [routerLink]="'countries'">
          <ion-label>
            Countries
          </ion-label>
        </ion-item>
        <ion-item button [routerLink]="'versions'">
          <ion-label>
            Versions
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
